@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('../fonts/SairaExtraCondensed-ExtraBold.woff2') format('woff2'),
        url('../fonts/SairaExtraCondensed-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('../fonts/SairaExtraCondensed-Bold.woff2') format('woff2'),
        url('../fonts/SairaExtraCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('../fonts/SairaExtraCondensed-Black.woff2') format('woff2'),
        url('../fonts/SairaExtraCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('../fonts/SairaExtraCondensed-Medium.woff2') format('woff2'),
        url('../fonts/SairaExtraCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('../fonts/SairaExtraCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/SairaExtraCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira ExtraCondensed';
    src: url('../fonts/SairaExtraCondensed-Regular.woff2') format('woff2'),
        url('../fonts/SairaExtraCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('../fonts/SairaExtraCondensed-Light.woff2') format('woff2'),
        url('../fonts/SairaExtraCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('../fonts/SairaExtraCondensed-ExtraLight.woff2') format('woff2'),
        url('../fonts/SairaExtraCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('../fonts/SairaExtraCondensed-Thin.woff2') format('woff2'),
        url('../fonts/SairaExtraCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}